# Difference between Shallow Copy and Deep Copy

### Assignment Operator

In [1]:
a = [1,2,[3,4,5],6,7]
b = a

In [2]:
print(a, b)

[1, 2, [3, 4, 5], 6, 7] [1, 2, [3, 4, 5], 6, 7]

In [3]:
print(id(a), id(b))

1246364315072 1246364315072

In [4]:
a[1] = 'Index 1'
b[2][2] = 'Index 2 2'

In [5]:
print(a, b)

[1, 'Index 1', [3, 4, 'Index 2 2'], 6, 7] [1, 'Index 1', [3, 4, 'Index 2 2'], 6, 7]

In [6]:
print(id(a[1]), id(b[1]))

1246364006896 1246364006896

![Sample Image](https://github.com/Rohitkale-AIML/Python/blob/main/helper_images/Screenshot_Python_01.png?raw=true)

### Shallow Copy

In [7]:
from copy import copy, deepcopy

In [8]:
a = [1,2,[3,4,5],6,7]
b = copy(a)

In [9]:
print(a, b)

[1, 2, [3, 4, 5], 6, 7] [1, 2, [3, 4, 5], 6, 7]

In [10]:
print(id(a), id(b))

1246364328576 1246364328768

In [11]:
a[1] = 'Index 1'
b[2][2] = 'Index 2 2'

In [12]:
print(a, b)

[1, 'Index 1', [3, 4, 'Index 2 2'], 6, 7] [1, 2, [3, 4, 'Index 2 2'], 6, 7]

In [13]:
print(id(a[1]), id(b[1]))

1246364248240 1246281820496

In [14]:
print(id(a[2][2]), id(b[2][2]))

1246364259632 1246364259632

![sample_image](https://github.com/Rohitkale-AIML/Python/blob/main/helper_images/Screenshot_Python_02.png?raw=true)

### Deep Copy

In [15]:
a = [1,2,[3,4,5],6,7]
b = deepcopy(a)

In [16]:
print(a, b)

[1, 2, [3, 4, 5], 6, 7] [1, 2, [3, 4, 5], 6, 7]

In [17]:
print(id(a), id(b))

1246364332160 1246364315328

In [18]:
a[1] = 'Index 1'
b[2][2] = 'Index 2 2'

In [19]:
print(a, b)

[1, 'Index 1', [3, 4, 5], 6, 7] [1, 2, [3, 4, 'Index 2 2'], 6, 7]

In [20]:
print(id(a[1]), id(b[1]))

1246364272304 1246281820496

In [21]:
print(id(a[2][2]), id(b[2][2]))

1246281820592 1246364275376

![sample_image](https://github.com/Rohitkale-AIML/Python/blob/main/helper_images/Screenshot_Python_03.png?raw=true)

- **Assignment Operator:** Simple assignment of values to variables.
- **Shallow Copy:** Creates a new object but retains references to nested objects.
- **Deep Copy:** Creates a completely independent copy with copies of all nested objects.

# Lambda Function or Anonymus Function

In [22]:
signal = 'red'
action = 'stop' if signal == 'red' else 'go' # if-else in one line
print(action)

stop

In [23]:
def square(x):
    return x**2
square(10)

100

In [24]:
lambda x: x**2       # function in one line (consise way)

In [25]:
type(lambda x: x**2)

function

### syntax:    lambda_keyword    input_expression:     output_expression

In [26]:
(lambda x: x**2)(10)

100

In [27]:
fn = (lambda x: x**2)
fn(10)

100

In [28]:
(lambda x, y: x + y)(2, 3)

5

In [29]:
(lambda num: (num - 10) * 2 / 4)(20)

5.0

### Higher Order Functions

In [30]:
def nth_multiple(num):
    return lambda x: num*x

nth_multiple(10)

In [31]:
n = nth_multiple(10)
n(3)

30

In [32]:
def outer():
    num = 10
    def inner():
        print("Hello all")
    inner()
    print(num)
outer()

Hello all
10

In [33]:
def outer(num):
    num = 10
    def inner(x):
        return x + num
    return inner

In [34]:
outer(10)

In [35]:
n = outer(10)
n(5)

15

In [36]:
def square(x):
    return x**2
def cube(x):
    return x**3

In [37]:
funcs = {'square': square, 'cube': cube}
for k in funcs:
    print(funcs[k](10))

100
1000

In [38]:
# call by reference
def modify_content(y):
    y[0] = 99
    return y

x = [1, 2, 3]
print(x)
print(modify_content(x))
print(x)

[1, 2, 3]
[99, 2, 3]
[99, 2, 3]

![sample_image](https://github.com/Rohitkale-AIML/Python/blob/main/helper_images/Screenshot_Python_05.png?raw=true)

In [39]:
# call by reference
def modify_content(y):
    y = [4, 5, 6]
    return y

x = [1, 2, 3]
print(x)
print(modify_content(x))
print(x)

[1, 2, 3]
[4, 5, 6]
[1, 2, 3]

![sample_image](https://github.com/Rohitkale-AIML/Python/blob/main/helper_images/Screenshot_Python_04.png?raw=true)

In [40]:
def access(lst, num):
    lst.append(num)
    num -= 4
    return num

lst = [1,2,3]
num = 4
print(access(lst, num))
print(lst, num)

0
[1, 2, 3, 4] 4

# Functional Programming

In [41]:
x = 5
x2 = 2*x
x3 = x2 + 1
print(x)

5

In [42]:
x = 5
def ops(x):
    x = 2*x
    x += 1
    return x

print(x)
print(ops(x))
print(x)

5
11
5

**Data will remain separate from changes/mutation**

**Function is first-class citizen**
 - funciton will be treated like object
 - function can return another function (higher order function)
 - function can be stored in dictionary

## In-built Functions

### map(func, *iterables)

In [43]:
# parameter => def fun(x, y, z):
# arg => fun(10, 20, 30)
# kwarg => fun(a=10, b=20, c=30) (key-value pairs)

- \*args deals with variable positional arguments.
- \**kwargs deals with variable keyword arguments.
- \*args collects additional positional arguments into a tuple.
- \**kwargs collects additional keyword arguments into a dictionary.

In [44]:
def example_function_arg(*args):
    for arg in args:
        print(arg)

def example_function_kwargs(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [45]:
def adder(*num):
    sum = 0    
    for n in num:
        sum = sum + n
    print("Sum:",sum)

adder(3,5)
adder(4,5,6,7)
adder(1,2,3,5,6)

Sum: 8
Sum: 22
Sum: 17

In [46]:
def intro(**data):
    print("\nData type of argument:",type(data))
    for key, value in data.items():
        print("{} is {}".format(key,value))

intro(Firstname="Sita", Lastname="Sharma", Age=22, Phone=1234567890)
intro(Firstname="John", Lastname="Wood", Email="johnwood@nomail.com", Country="Wakanda", Age=25, Phone=9876543210)

Data type of argument: <class 'dict'>
Firstname is Sita
Lastname is Sharma
Age is 22
Phone is 1234567890

Data type of argument: <class 'dict'>
Firstname is John
Lastname is Wood
Email is johnwood@nomail.com
Country is Wakanda
Age is 25
Phone is 9876543210

In [47]:
data = [1, 2, 3, 4]
def twice(x):
    return 2*x

In [48]:
map(twice, data) # map itself is interable object

In [49]:
for i in map(lambda x: x*2, data):
    print(i)
print(data)

2
4
6
8
[1, 2, 3, 4]

In [50]:
def getTshirtsize(height):
    if height < 150:
        return 'S'
    elif height > 150 and height < 180:
        return 'M'
    else:
        return 'L'
    
heights = [152, 182, 175, 161, 180, 172, 146]
list(map(getTshirtsize, heights))

['M', 'L', 'M', 'M', 'L', 'M', 'S']

In [51]:
A = [1,0,1,1,0,1, 1]
B = [0,1,1,1,1,0]

A = list(map(lambda x,y: x==y, A,B))
print(A)
print(sum(A))

[False, False, True, True, False, False]
2

In [52]:
column_names = ['name', 'salary', 'job']
db_rows = [('Alice', 180000, 'data scientist'),
           ('Bob', 99000, 'data engineer'),
           ('Frank', 87000, 'data analyst')]

db = [dict(zip(column_names, row)) for row in db_rows]
print(db)

[{'name': 'Alice', 'salary': 180000, 'job': 'data scientist'}, {'name': 'Bob', 'salary': 99000, 'job': 'data engineer'}, {'name': 'Frank', 'salary': 87000, 'job': 'data analyst'}]

In [53]:
sentence = "abc cde def"
result = list(map(lambda x: list(x), sentence.split(" ")))
print(result)

[['a', 'b', 'c'], ['c', 'd', 'e'], ['d', 'e', 'f']]

In [54]:
def func2(c, d):
    return c, d

def func1(a, b):
    c = a**1
    d = b**2
    return lambda: func2(c,d)

result = func1(1, 2)

print(result())

(1, 4)

In [55]:
odd=lambda x: bool(x%2)
result=[n for n in range(10)]

for i in result:
    if odd(i):
        continue       
    else:
        print(i, end=" ")

0 2 4 6 8

In [56]:
string = '''
We spent several years building our own database engine, Amazon Aurora, a fully-managed MySQL and PostgreSQL-compatible service with the same or better durability and availability as
the commercial engines, but at one-tenth of the cost. We were not surprised when this worked.
'''
result = lambda key, val: key[ key.find(val)-18 : key.find(val)+18 ] if val in key else -1

print(result(string, 'SQL'))

a fully-managed MySQL and PostgreSQL

In [57]:
array = [ [1, [ [ 2 ] ], [ [ [ 3 ] ] ], [ [ 4 ], 5 ] ]]
result = lambda x: sum(map(result, x), [ ] ) if isinstance(x, list) else [x]
print(result(array))

[1, 2, 3, 4, 5]

### filter(func or None, iterable)

**Return an iterator yielding those items of iterable for which function(item) is true. If function is None, return the items that are true.**

In [58]:
def check_even(num):
    return num % 2 == 0

check_even(10)

True

In [59]:
list(filter(check_even, range(1, 11)))

[2, 4, 6, 8, 10]

In [60]:
list(filter(lambda x: x%2 == 0, range(1, 11)))

[2, 4, 6, 8, 10]

In [61]:
# palindromic strings present in the list
arr = ["php", "w3r", "python", "aaa", "java"]
list( filter( lambda x: (x =="".join( reversed(x))), arr))

['php', 'aaa']

In [62]:
array  = [1, 2, 3, 4, 5]
list(filter(lambda x:x<0, array))

[]

### reduce(func, sequence)

![sample_image](https://github.com/Rohitkale-AIML/Python/blob/main/helper_images/Screenshot_Python_06.png?raw=true)

In [63]:
from functools import reduce

In [64]:
marks = [75, 65, 80, 95, 50]
sum(marks)

365

In [65]:
reduce(lambda x, y: x + y, marks)

365

In [66]:
# max elements present in a list using reduce
def maximum(a, b):
    return a if a > b else b

nums = [3, 5, 2, 4, 7, 1]
reduce(maximum, nums)

7

In [67]:
nums = [1, 1, 1, 1, 0]

def is_true(a, b):
    return bool(a and b)

reduce(is_true, nums)

False

In [68]:
import functools
lists = [1,2,3,4]
print(functools.reduce(lambda x,y : x if x > y else y ,lists))

4